@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family:'bebas-nova';
    src: url(fontes/BebasNeue-Regular.ttf);
}

:root {
    --cor0: #4EDAF2;
    --cor1: #05CCF0;
    --cor2: #03A0BD;
    --cor3: #026070;
    --cor4: #246570;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-android: 'Android', cursive;
    --fontes-destaque: 'bebas-nova', cursive;
}


* {box-sizing:border-box}

*{
  margin: 0;
  padding: 0;
}

header{
  background-image: linear-gradient(to bottom, white, var(--cor2));
  min-height: 150px; 
  padding-top: 0px;
}

header img.logo_pequena{
  max-width: 135px;
  display: block;
  margin: auto;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.img_logo_header{
  width: 45px;
  
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--cor2);
  box-shadow: 2px 3px 8px black;
  height: 44px;
  justify-content: space-between;
  padding: 0 12%;
}
.nagivation_header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  z-index: 2;
  background-color: var(--cor2);
  
}
.nagivation_header a{
  text-decoration: none;
  color: var(--color-white);
  transition: 1s;
  font-weight: bold;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  padding: 13px;
  border-radius: 5px;
}
.nagivation_header a:hover{
background-color: var(--cor0);
color: var(--cor3);
}
.active{
  background-color: var(--cor2);
  padding: 10px;
  border-radius: 10px;
}
.content{
  text-align: center;
  padding: 2em;
  transition: 1s;
}
h1{
  font-size: 30px;
  color: var(--cor4);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: -30px;
}
.btn_icon_header{
  background-color: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 770px){
  .btn_icon_header{
      display: block;
  }
  .nagivation_header{
      position: absolute;
      flex-direction: column;
      top: 0;
      background-color: var(--cor3);
      height: 100%;
      width: 35vw;
      padding: 1em;
      animation-duration: 1s;
      margin-left: -100vw;
      border-radius: 10px;
  }
}
@keyframes showSidebar {
  from {margin-left: -100vw;}
  top {margin-left: -12vw;}
}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  margin-top: 40px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




h2{
  margin-bottom: 20px;
  color: var(--cor3);
  padding-left: 57px;
}

.escolha{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--cor2);
  box-shadow: 2px 3px 8px black;
  height: 44px;
  justify-content: space-evenly;
}
.nagivation_escolha{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  z-index: 2;
  background-color: var(--cor2);
  
}
.nagivation_escolha a{
  text-decoration: none;
  color: var(--color-white);
  transition: 1s;
  font-weight: bold;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  padding: 13px;
  border-radius: 5px;
  font-size: 15px;
}
.nagivation_escolha a:hover{
  background-color: var(--cor0);
  color: var(--cor3);
  }
.btn_icon_escolha{
  background-color: transparent;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 975px){
  .nagivation_escolha a{
    text-decoration: none;
    color: var(--color-white);
    transition: 1s;
    font-weight: bold;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding: 13px;
    border-radius: 5px;
    font-size: 13px;
  }
  .nagivation_escolha{
    gap: 10px;
  }
 
}

@media screen and (max-width: 835px){
  .btn_icon_escolha{
      display: block;
  }
  .nagivation_escolha{
      position: absolute;
      flex-direction: column;
      top: 0;
      background-color: var(--cor3);
      height: 45%;
      width: 35vw;
      padding: 1em;
      animation-duration: 1s;
      margin-left: -135vw;
      border-radius: 10px;
      margin-top: 47px;
  }
}
@keyframes showSideba {
  from {margin-left: -135vw;}
  top {margin-left: -65vw;}
}


.titulo{
    position: relative;
    margin: 30px 0px;
}

h3{
  margin-bottom: 20px;
  color: var(--cor3);
  margin-left: -70px;
}

.active-link{
  color: var(--cor3);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
}


article{
  margin: auto;
}

.container{
  width: auto;
  margin: 0 10%;
  border: 0px solid black;
  display: grid;
  grid-template-areas: 
  "item item";
}

.caixa{
  margin-left: -20px;
  max-width: 550px;
  min-height: 200px;
  height: 230px;
  display: flex;
  align-items: center;
  grid-area: "item";
  grid-column: "item";
}

@media (max-width: 816px){
  .container{
    justify-content: center;
    grid-template-areas: 
    "item";
  }
  .vamos{
   margin: auto;
  }
  .caixa{
    margin-left: -18px;
    max-width: 550px;
    min-height: 200px;
    height: 230px;
    padding: 0 10%;
    display: flex;
    align-items: center;
    grid-area: "item";
    grid-column: "item";
  }
  h2{
   text-align: center;
  }
}


.local{
    margin-left: 30px; 
    flex-direction: column;
    top: 0;
}


.oferta {
  width: 113px;
  background-color: var(--cor3);
  box-shadow: 2px 3px 8px black;
  padding:8px;
  margin-left: -70px;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

.oferta:hover {
  background-color: var(--cor0);
  color: var(--cor3);
}

.coluna{
  font-size: 1em;
  margin: 13px 0 0 -50px;
  color: black;
}

.assunto{
  font-size: 1em;
  margin-left: 20px;
  text-indent: 30px;
  color: black;
}

.category:before {
  background: #fff;
  transition-duration: .3s;
  transition-timing-function: "ease-out";
  transition-property: box-shadow transform;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

.foote{
  background-color: var(--cor1);
  max-width: auto;
  margin: 0 auto;
  height: 180px;
  box-shadow: -1px 1px 10px black;
  display: grid;
  grid-template-areas: "item item item";
  justify-content: space-around;
}

h4{
  font-size: 18px;
  font: bold;
  margin-top: 30px;
  margin-bottom: 25px;
}

ul{
  margin-left: 17px;
}



@media screen and (max-width: 630px){
  .foote{
    justify-content: space-evenly;
    grid-template-areas: 
    "item item";
    height: auto;
    padding: 20px;
  }
  
}
h5{
  color: black;
  text-align: center;
  background-color: #026070;
  padding: 15px;
  box-shadow: inset 1px -1px 5px black;
}


/* Contatos paginas 02 */


.h3_pag02{
  color: white;
  text-align: center;
  padding: 10px;
}
.h1_pag02{
    margin: 30px 100px 30px -25px;
    color: var(--cor3);
    padding-left: 57px;
    text-align: center;
}
.subtitulopag02{
  margin-bottom: 20px;
  color: var(--cor3);
  padding-left: 29px;
}
.p_pag02{
  color: black;
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
}
.p_pag03{
  color: black;
  text-align: justify;
  margin-left: 30px;
  text-indent: 30px;
  margin-right: 30px;
}

.container_pag02{
  width: auto;
  margin: 0 10%;
  justify-content: center;
  border: 0px solid black;
  display: grid;
  grid-template-areas: 
  "item item";
}

.caixa_pag02{
  display: inline-block;
  position: relative;
  max-width: 550px;
  min-height: 200px;
  height: 230px;
  flex-direction: column;
  top: 0;
}

.caixa_pag02 img{
  width: 100%;
  position: absolute;
  top: 122px;
  right: -332px;
  font-size: 40px;
  color: black;
  text-shadow: 0px 0px 5px black;
  opacity: 0.5;
}
.menu_p{
  width: 190px;
  position: relative;
  bottom: -158px;
  left: -379px;
  margin: -90px 4px 38px 51px;
  background-color: var(--cor3);
  box-shadow: 2px 3px 8px black;
  padding: 10px;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}


.menu_p:hover {
background-color: var(--cor0);
color: var(--cor3);
}


/* Contatos paginas 03 */


.container_pag03{
  width: auto;
  margin: 0 10%;
  justify-content: center;
  border: 0px solid black;
  display: grid;
  grid-template-areas: 
  "item";
}

.subtitulopag03{
  margin-bottom: 20px;
  color: var(--cor3);
  padding-left: 29px;
  margin-left: -56px;
}
.caixa_pag03{
  display: inline-block;
  position: relative;
  max-width: 550px;
  min-height: 200px;
  height: 230px;
  flex-direction: column;
  top: 0;
  margin-bottom: 80px;
}

.menu_pag03{
  width: 190px;
  position: relative;
  bottom: 111px;
  left: 96px;
  margin: -90px 4px 38px 64px;
  background-color: var(--cor3);
  box-shadow: 2px 3px 8px black;
  padding: 10px;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}
.menu_pag03:hover {
  background-color: var(--cor0);
  color: var(--cor3);
  }

  /* pagina 04 */

.container_pag04{
  width: 100%;
  margin: auto;
  justify-content: center;
  border: 0px solid black;
  display: grid;
  grid-template-areas: 
  "item";
}

.caixa_pag04{
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  grid-area: "item";
  grid-column: "item";
}
.menu_pag04{
  width: 190px;
  position: relative;
  bottom: 71px;
  left: -40px;
  margin: -90px 4px 38px 64px;
  background-color: var(--cor3);
  box-shadow: 2px 3px 8px black;
  padding: 10px;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

/* mudança na pagina */

@media (max-width: 816px){
  .container_pag02{
    justify-content: flex-start;
    grid-template-areas: 
    "item";
  }
  .h1_pag02{
    
    text-align: center;
  }
  .subtitulopag02{
    text-align: justify;
  }
  .caixa_pag02{
   margin-left: 46px;
  }
  
  .caixa_pag02 img{
    
    width: 60%;
    top: 70px;
    right: -44px;
  
  }
  .menu_p{
    
    bottom: 60px;
    left: 22px;
    
  }
  .menu_pag03{
    
    bottom: 60px;
    left: -5px;
    
  }
  .menu_pag04{
    
    bottom: 71px;
    left: 13px;
    
  }

  .slideshow-container {
    
    position: relative;
    margin: auto;
    margin-top: 40px;
}
}

/* mudança na pagina */

@media (max-width: 500px){
  .container_pag02{
    justify-content: flex-start;
    grid-template-areas: 
    "item";
    margin-left: -14px;
  }
  
  .h1_pag02{
    margin: 30px 100px 30px 11px;
    text-align: center;
   
  }
  .subtitulopag02{
    text-align: center;
  }

  .caixa{
    margin-left: -95px;
    max-width: 550px;
    min-height: 200px;
    padding: 0 10%;
    display: -webkit-box;
  }

  .active-link {
    padding: 3px;
    font-size: 14px;
}

  .caixa_pag02{
    
    margin-left: -20px;

  }
  .p_pag02{

    text-align: left;
    margin-left: 83px;
    margin-right: 30px;
  }
  .p_pag03{
    color: black;
    text-align: justify;
    margin-left: 30px;
    text-indent: 30px;
    margin-right: 30px;
  }
  
  .caixa_pag02 img{
    width: 50%;
   
    top: 90px;
    right: -0px;
    
  }
  .menu_p{
    
    bottom: 67px;
    left: 9px;
    
  }
  
  .h3_pag02{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    margin-left: -1px;
  }
  .menu_pag03{

    bottom: 161px;
    left: 63px;
 
  }

  .menu_pag04{
    
    bottom: 50px;
    left: -6px;
    
  }
  .caixa_pag03{
    
    height: 314px;
    
  }
 
}


/* Pagina login */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;  
  color: #323232;
  border: none;
}

#login-pag{
   background-color: var(--cor1);
   background-size: cover;
   background-position-y: -200px;
}

textarea:focus, input:focus {
   outline: none;
}

a {
   font-size: .8rem;
}
a:hover {
   color: var(--cor1);
}

/* container login */

#login-container {
   background-color: white;
   width: 400px;
   margin-left: auto;
   margin-right: auto;
   padding: 20px 30px;
   margin-top: 10vh;
   border-radius: 10px;
   text-align: center;
}

/* formulario */

form{
   margin-top: 30px;
   margin-bottom: 40px;
}

label, input {
   display: block;
   width: 100%;
   text-align: left;
}

label{
   font-weight: bold;
   font-size: .8rem;
}

input {
   border-bottom: 2px solid black;
   padding: 10px;
   font-size: 1rem;
   margin-bottom: 20px;
}

input:focus {
   border-bottom: 2px solid var(--cor2);
}

#forgot-pass {
   text-align: right;
   display: block;
}

input[type="submit"] {
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   border: none;
   height: 40px;
   border-radius: 20px;
   margin-top: 30px;
   color: white;
   background-color: var(--cor3);
   cursor: pointer;
}
input[type="submit"]:hover{
   background-color: var(--cor0);
   color: var(--cor3);
   transition: .5s;
}

/* rede sociais */

#social-container, #social-container p {
   margin-bottom: 20px;
}

#social-container i {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   line-height: 40px;
   color: white;
   margin: 0 5px;
   cursor: pointer;
}

.fa-facebook-f {
   background-color: #385998;
}

.fa-linkedin {
   background-color: #0077b5;
}

/* registrar */

#register-container p {
   margin-bottom: 10px;
}

.menu_voltar{
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--cor3);
  padding: 10px;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}


.menu_voltar:hover {
background-color: var(--cor0);
color: var(--cor3);
}

